<%- include("partials/header") %>
<div class="jumbotron">
    <h1>landing page!</h1>
</div>

<p>Welcome to YelpCamp</p>

<a href="/campgrounds">View All campgrounds</a>

<%- include("partials/footer") %>